%h2
  Update Profile
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :establishment_name, :required => true, :autofocus => true
    = f.input :email, :required => true
    = f.input :fname, :required => true, label: "First Name"
    = f.input :lname, :required => true, label: "Last Name"
    = f.input :phone_number, :required => true
    = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
    = link_to "Cancel", :back, class: 'btn btn-large'
    = f.button :submit, "Update", class: 'btn btn-large btn-primary'