.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Reminderfy", root_path, class: "brand"
      .nav-collapse.collapse
        %ul.nav
          %li{class: (current_page?(root_path) ? "active" : "")}
            = link_to "Home", root_path
          %li{class: (current_page?(new_provider_registration_path) ? "active" : "")}
            = link_to "Sign Up", new_provider_registration_path
          %li{class: (current_page?(pricing_path) ? "active" : "")}
            = link_to "Pricing", pricing_path
          %li{class: (current_page?(contact_path) ? "active" : "")}
            = link_to "Contact", contact_path
          %li{class: (current_page?(faq_path) ? "active" : "")}
            = link_to "Faq", faq_path
        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown"}
              Sign In
              %b.caret
            %ul.dropdown-menu
              = simple_form_for Provider.new, url: provider_session_path, html: { class: 'form-horizontal sign_in_form_drop_down'} do |f|
                = f.input :email, label: false, placeholder: "Email", :autofocus => true
                = f.input :password, label: false, placeholder: "Password", required: true
                = f.submit "Sign In", class: 'btn btn-primary'
